[Desktop Entry]
Version=1.0
Name=Ardour
GenericName=Ardour Digital Audio Workstation
Comment=Record, mix and master multi-track audio
GenericName[fr]=Station de travail audionumérique Ardour
Comment[fr]=Enregistrer, mixer et mastériser de l'audio multi-piste
Keywords=audio;sound;jackd,DAW,multitrack,ladspa,lv2,midi
Exec=/usr/bin/pw-jack /usr/bin/ardour %f
Icon=ardour
Terminal=false
Type=Application
Categories=AudioVideo;X-AudioEditing;Audio;Recorder;
MimeType=application/x-ardour;
