[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/bin/bash /usr/local/bin/ardour8 %f
Name=LogicalArdour
Icon=/opt/LogicalArdour/gb.png
Comment=Digital Audio Workstation
Categories=AudioVideo;AudioEditing;Audio;Recorder;
