<?xml version="1.0" encoding="UTF-8"?>
<Route version="7003" id="768" name="Fuzz Vocals" default-type="audio" strict-io="1" active="1" denormal-protection="0" meter-point="MeterPostFader" disk-io-point="DiskIOPreFader" meter-type="MeterPeak" audio-playlist="703" saved-meter-point="MeterPostFader" alignment-choice="Automatic" mode="Normal">
  <ProgramVersion created-with="Ardour 8.6-300-g7052f57ee9" modified-with="Ardour 8.6-300-g7052f57ee9" name="Fuzz Vocals"/>
  <PresentationInfo order="2" flags="AudioTrack,OrderSet,TriggerTrack" color="875853823"/>
  <Controllable name="solo" id="731" flags="Toggle,RealTime" value="0" self-solo="0" soloed-by-upstream="0" soloed-by-downstream="0"/>
  <Controllable name="solo-iso" id="975" flags="Toggle,RealTime" value="0" solo-isolated="0"/>
  <Controllable name="solo-safe" id="976" flags="Toggle" value="0" solo-safe="0"/>
  <IO name="Fuzz Vocals" id="769" direction="Input" default-type="audio">
    <Port name="Fuzz Vocals/audio_in 1" type="audio" direction="Input">
      <ExtConnection for="JACK"/>
      <ExtConnection for="JACK" other="Built-in Audio Analog Stereo:capture_FR"/>
    </Port>
  </IO>
  <IO name="Fuzz Vocals" id="772" direction="Output" default-type="audio">
    <Port name="Fuzz Vocals/audio_out 1" type="audio" direction="Output">
      <Connection other="Master/audio_in 1"/>
    </Port>
    <Port name="Fuzz Vocals/audio_out 2" type="audio" direction="Output">
      <Connection other="Master/audio_in 2"/>
    </Port>
  </IO>
  <MuteMaster mute-point="PostFader,Listen,Main,SurroundSend" muted="0"/>
  <Controllable name="mute" id="977" flags="Toggle,RealTime" value="0"/>
  <Controllable name="phase" id="978" flags="Toggle" value="0" phase-invert="0"/>
  <Automation>
    <AutomationList automation-id="solo" id="979" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    <AutomationList automation-id="solo-iso" id="980" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    <AutomationList automation-id="solo-safe" id="981" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    <AutomationList automation-id="mute" id="982" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    <AutomationList automation-id="rec-enable" id="983" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    <AutomationList automation-id="rec-safe" id="984" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    <AutomationList automation-id="phase" id="985" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    <AutomationList automation-id="monitor" id="986" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
  </Automation>
  <Pannable>
    <Controllable name="pan-azimuth" id="774" flags="" value="0.5"/>
    <Controllable name="pan-width" id="775" flags="" value="0"/>
    <Controllable name="pan-elevation" id="776" flags="" value="0"/>
    <Controllable name="pan-frontback" id="777" flags="" value="0"/>
    <Controllable name="pan-lfe" id="778" flags="" value="0"/>
    <Automation>
      <AutomationList automation-id="pan-azimuth" id="779" interpolation-style="Linear" time-domain="BeatTime" state="Off"/>
      <AutomationList automation-id="pan-elevation" id="780" interpolation-style="Linear" time-domain="BeatTime" state="Off"/>
      <AutomationList automation-id="pan-width" id="781" interpolation-style="Linear" time-domain="BeatTime" state="Off"/>
      <AutomationList automation-id="pan-frontback" id="782" interpolation-style="Linear" time-domain="BeatTime" state="Off"/>
      <AutomationList automation-id="pan-lfe" id="783" interpolation-style="Linear" time-domain="BeatTime" state="Off"/>
    </Automation>
  </Pannable>
  <Processor id="784" name="recorder:Fuzz Vocals" active="1" user-latency="0" use-user-latency="0" type="diskwriter" record-safe="0"/>
  <Processor id="787" name="player:Fuzz Vocals" active="1" user-latency="0" use-user-latency="0" type="diskreader"/>
  <Processor id="788" name="TriggerBox" active="1" user-latency="0" use-user-latency="0" type="triggerbox" data-type="audio" order="1">
    <Triggers>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="0" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="1" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="2" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="3" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="4" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="5" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="6" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="7" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="8" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="9" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="10" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="11" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="12" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="13" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="14" segment-tempo="0" start="a0"/>
      <Trigger name="" gain="1" color="3200171775" follow-count="1" use-follow-length="0" follow-length="1|0|0" legato="0" velocity-effect="0" follow-action-probability="0" quantization="1|0|0" launch-style="OneShot" follow-action-0="Again:0" follow-action-1="Stop:0" stretchable="1" cue_isolated="0" allow_patch_changes="1" stretch_mode="Crisp" index="15" segment-tempo="0" start="a0"/>
    </Triggers>
  </Processor>
  <Processor id="821" name="Polarity" active="1" user-latency="0" use-user-latency="0" type="polarity"/>
  <Processor id="822" name="Amp" active="1" user-latency="0" use-user-latency="0" type="trim">
    <Automation>
      <AutomationList automation-id="trim" id="823" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
    </Automation>
    <Controllable name="trimcontrol" id="824" flags="GainLike" value="1"/>
  </Processor>
  <Processor id="858" name="x42-Autotune (scales)" active="0" user-latency="0" use-user-latency="0" type="lv2" unique-id="http://gareus.org/oss/lv2/fat1#scales" count="1" custom="0">
    <Automation>
      <AutomationList automation-id="parameter-3" id="859" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-4" id="860" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-5" id="861" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-6" id="862" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-7" id="863" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-8" id="864" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-9" id="865" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-10" id="866" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-11" id="867" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-12" id="868" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
    </Automation>
    <ConfiguredInput>
      <Channels type="audio" count="1"/>
    </ConfiguredInput>
    <CustomSinks>
      <Channels type="audio" count="1"/>
      <Channels type="midi" count="1"/>
    </CustomSinks>
    <ConfiguredOutput>
      <Channels type="audio" count="1"/>
    </ConfiguredOutput>
    <PresetOutput/>
    <InputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </InputMap-0>
    <OutputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </OutputMap-0>
    <ThruMap/>
    <lv2 last-preset-uri="" last-preset-label="" parameter-changed-since-last-preset="0" template-dir="/home/jman/.config/ardour8/route_templates/Fuzz Vocals">
      <Port symbol="mode" value="0"/>
      <Port symbol="channelf" value="0"/>
      <Port symbol="tuning" value="440"/>
      <Port symbol="bias" value="0.5"/>
      <Port symbol="filter" value="0.10000000149011612"/>
      <Port symbol="corr" value="1"/>
      <Port symbol="offset" value="0"/>
      <Port symbol="bendrange" value="2"/>
      <Port symbol="fastmode" value="0"/>
      <Port symbol="scale" value="0"/>
    </lv2>
    <Controllable name="Mode" id="848" flags="" value="0" parameter="3" symbol="mode"/>
    <Controllable name="Filter Channel" id="849" flags="" value="0" parameter="4" symbol="channelf"/>
    <Controllable name="Tuning" id="850" flags="" value="440" parameter="5" symbol="tuning"/>
    <Controllable name="Bias" id="851" flags="" value="0.5" parameter="6" symbol="bias"/>
    <Controllable name="Filter" id="852" flags="" value="0.10000000149011612" parameter="7" symbol="filter"/>
    <Controllable name="Correction" id="853" flags="" value="1" parameter="8" symbol="corr"/>
    <Controllable name="Offset" id="854" flags="" value="0" parameter="9" symbol="offset"/>
    <Controllable name="Pitch Bend Range" id="855" flags="" value="2" parameter="10" symbol="bendrange"/>
    <Controllable name="Fast Correction" id="856" flags="Toggle" value="0" parameter="11" symbol="fastmode"/>
    <Controllable name="Scale" id="857" flags="" value="0" parameter="12" symbol="scale"/>
  </Processor>
  <Processor id="944" name="ACE EQ" active="1" user-latency="0" use-user-latency="0" type="lv2" unique-id="urn:ardour:a-eq" count="1" custom="0">
    <Automation>
      <AutomationList automation-id="parameter-0" id="945" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-1" id="946" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-2" id="947" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-3" id="948" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-4" id="949" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-5" id="950" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-6" id="951" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-7" id="952" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-8" id="953" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-9" id="954" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-10" id="955" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-11" id="956" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-12" id="957" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-13" id="958" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-14" id="959" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-15" id="960" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-16" id="961" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-17" id="962" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-18" id="963" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-19" id="964" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-20" id="965" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-21" id="966" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-22" id="967" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-23" id="968" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    </Automation>
    <ConfiguredInput>
      <Channels type="audio" count="1"/>
    </ConfiguredInput>
    <CustomSinks>
      <Channels type="audio" count="1"/>
    </CustomSinks>
    <ConfiguredOutput>
      <Channels type="audio" count="1"/>
    </ConfiguredOutput>
    <PresetOutput/>
    <InputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </InputMap-0>
    <OutputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </OutputMap-0>
    <ThruMap/>
    <lv2 last-preset-uri="file:///home/jman/.lv2/ACE_EQ_fuzz.lv2/fuzz.ttl" last-preset-label="fuzz" parameter-changed-since-last-preset="0" template-dir="/home/jman/.config/ardour8/route_templates/Fuzz Vocals">
      <Port symbol="freql" value="87.361465454101562"/>
      <Port symbol="gl" value="-12.202663421630859"/>
      <Port symbol="freq1" value="312.69512939453125"/>
      <Port symbol="g1" value="1.6640071868896484"/>
      <Port symbol="bw1" value="1"/>
      <Port symbol="freq2" value="1033.7137451171875"/>
      <Port symbol="g2" value="-1.7493362426757812"/>
      <Port symbol="bw2" value="1"/>
      <Port symbol="freq3" value="2500"/>
      <Port symbol="g3" value="0"/>
      <Port symbol="bw3" value="1"/>
      <Port symbol="freq4" value="6253.9033203125"/>
      <Port symbol="g4" value="1.1946678161621094"/>
      <Port symbol="bw4" value="1"/>
      <Port symbol="freqh" value="9000"/>
      <Port symbol="gh" value="0"/>
      <Port symbol="master" value="0"/>
      <Port symbol="filtogl" value="1"/>
      <Port symbol="filtog1" value="1"/>
      <Port symbol="filtog2" value="1"/>
      <Port symbol="filtog3" value="1"/>
      <Port symbol="filtog4" value="1"/>
      <Port symbol="filtogh" value="1"/>
      <Port symbol="enable" value="1"/>
    </lv2>
    <Controllable name="Frequency L" id="920" flags="" value="87.361465454101562" parameter="0" symbol="freql"/>
    <Controllable name="Gain L" id="921" flags="" value="-12.202663421630859" parameter="1" symbol="gl"/>
    <Controllable name="Frequency 1" id="922" flags="" value="312.69512939453125" parameter="2" symbol="freq1"/>
    <Controllable name="Gain 1" id="923" flags="" value="1.6640071868896484" parameter="3" symbol="g1"/>
    <Controllable name="Bandwidth 1" id="924" flags="" value="1" parameter="4" symbol="bw1"/>
    <Controllable name="Frequency 2" id="925" flags="" value="1033.7137451171875" parameter="5" symbol="freq2"/>
    <Controllable name="Gain 2" id="926" flags="" value="-1.7493362426757812" parameter="6" symbol="g2"/>
    <Controllable name="Bandwidth 2" id="927" flags="" value="1" parameter="7" symbol="bw2"/>
    <Controllable name="Frequency 3" id="928" flags="" value="2500" parameter="8" symbol="freq3"/>
    <Controllable name="Gain 3" id="929" flags="" value="0" parameter="9" symbol="g3"/>
    <Controllable name="Bandwidth 3" id="930" flags="" value="1" parameter="10" symbol="bw3"/>
    <Controllable name="Frequency 4" id="931" flags="" value="6253.9033203125" parameter="11" symbol="freq4"/>
    <Controllable name="Gain 4" id="932" flags="" value="1.1946678161621094" parameter="12" symbol="g4"/>
    <Controllable name="Bandwidth 4" id="933" flags="" value="1" parameter="13" symbol="bw4"/>
    <Controllable name="Frequency H" id="934" flags="" value="9000" parameter="14" symbol="freqh"/>
    <Controllable name="Gain H" id="935" flags="" value="0" parameter="15" symbol="gh"/>
    <Controllable name="Master Gain" id="936" flags="" value="0" parameter="16" symbol="master"/>
    <Controllable name="Filter L" id="937" flags="Toggle" value="1" parameter="17" symbol="filtogl"/>
    <Controllable name="Filter 1" id="938" flags="Toggle" value="1" parameter="18" symbol="filtog1"/>
    <Controllable name="Filter 2" id="939" flags="Toggle" value="1" parameter="19" symbol="filtog2"/>
    <Controllable name="Filter 3" id="940" flags="Toggle" value="1" parameter="20" symbol="filtog3"/>
    <Controllable name="Filter 4" id="941" flags="Toggle" value="1" parameter="21" symbol="filtog4"/>
    <Controllable name="Filter H" id="942" flags="Toggle" value="1" parameter="22" symbol="filtogh"/>
    <Controllable name="Enable" id="943" flags="Toggle" value="1" parameter="23" symbol="enable"/>
  </Processor>
  <Processor id="1020" name="ACE Compressor" active="1" user-latency="0" use-user-latency="0" type="lv2" unique-id="urn:ardour:a-comp" count="1" custom="0">
    <Automation>
      <AutomationList automation-id="parameter-0" id="1021" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-1" id="1023" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-2" id="1025" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-3" id="1027" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-4" id="1029" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-5" id="1031" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-9" id="1033" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-10" id="1035" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    </Automation>
    <ConfiguredInput>
      <Channels type="audio" count="1"/>
    </ConfiguredInput>
    <CustomSinks>
      <Channels type="audio" count="2"/>
    </CustomSinks>
    <ConfiguredOutput>
      <Channels type="audio" count="1"/>
    </ConfiguredOutput>
    <PresetOutput/>
    <InputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </InputMap-0>
    <OutputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </OutputMap-0>
    <ThruMap/>
    <lv2 last-preset-uri="file:///home/jman/.lv2/ACE_Compressor_fuzz.lv2/fuzz.ttl" last-preset-label="fuzz" parameter-changed-since-last-preset="0" template-dir="/home/jman/.config/ardour8/route_templates/Fuzz Vocals">
      <Port symbol="att" value="25.75895881652832"/>
      <Port symbol="rel" value="80"/>
      <Port symbol="kn" value="1.0079997777938843"/>
      <Port symbol="rat" value="6.0855464935302734"/>
      <Port symbol="thr" value="-14.219955444335938"/>
      <Port symbol="mak" value="0.99000012874603271"/>
      <Port symbol="sidech" value="0"/>
      <Port symbol="enable" value="1"/>
    </lv2>
    <Controllable name="Attack" id="1022" flags="" value="25.75895881652832" parameter="0" symbol="att"/>
    <Controllable name="Release" id="1024" flags="" value="80" parameter="1" symbol="rel"/>
    <Controllable name="Knee" id="1026" flags="" value="1.0079997777938843" parameter="2" symbol="kn"/>
    <Controllable name="Ratio" id="1028" flags="" value="6.0855464935302734" parameter="3" symbol="rat"/>
    <Controllable name="Threshold" id="1030" flags="" value="-14.219955444335938" parameter="4" symbol="thr"/>
    <Controllable name="Makeup" id="1032" flags="" value="0.99000012874603271" parameter="5" symbol="mak"/>
    <Controllable name="Sidechain" id="1034" flags="Toggle" value="0" parameter="9" symbol="sidech"/>
    <Controllable name="Enable" id="1036" flags="Toggle" value="1" parameter="10" symbol="enable"/>
  </Processor>
  <Processor id="1040" name="ACE EQ" active="1" user-latency="0" use-user-latency="0" type="lv2" unique-id="urn:ardour:a-eq" count="1" custom="0">
    <Automation>
      <AutomationList automation-id="parameter-0" id="1041" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-1" id="1043" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-2" id="1045" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-3" id="1047" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-4" id="1049" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-5" id="1051" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-6" id="1053" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-7" id="1055" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-8" id="1057" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-9" id="1059" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-10" id="1061" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-11" id="1063" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-12" id="1065" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-13" id="1067" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-14" id="1069" interpolation-style="Logarithmic" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-15" id="1071" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-16" id="1073" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-17" id="1075" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-18" id="1077" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-19" id="1079" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-20" id="1081" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-21" id="1083" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-22" id="1085" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-23" id="1087" interpolation-style="Discrete" time-domain="AudioTime" state="Off"/>
    </Automation>
    <ConfiguredInput>
      <Channels type="audio" count="1"/>
    </ConfiguredInput>
    <CustomSinks>
      <Channels type="audio" count="1"/>
    </CustomSinks>
    <ConfiguredOutput>
      <Channels type="audio" count="1"/>
    </ConfiguredOutput>
    <PresetOutput/>
    <InputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </InputMap-0>
    <OutputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </OutputMap-0>
    <ThruMap/>
    <lv2 last-preset-uri="file:///home/jman/.lv2/ACE_EQ_fuzz-2.lv2/fuzz-2.ttl" last-preset-label="fuzz-2" parameter-changed-since-last-preset="0" template-dir="/home/jman/.config/ardour8/route_templates/Fuzz Vocals">
      <Port symbol="freql" value="160"/>
      <Port symbol="gl" value="0"/>
      <Port symbol="freq1" value="300"/>
      <Port symbol="g1" value="0"/>
      <Port symbol="bw1" value="1"/>
      <Port symbol="freq2" value="1000"/>
      <Port symbol="g2" value="0"/>
      <Port symbol="bw2" value="1"/>
      <Port symbol="freq3" value="2500"/>
      <Port symbol="g3" value="0"/>
      <Port symbol="bw3" value="1"/>
      <Port symbol="freq4" value="5950.4697265625"/>
      <Port symbol="g4" value="7.6300002547213808e-06"/>
      <Port symbol="bw4" value="1"/>
      <Port symbol="freqh" value="9226.6279296875"/>
      <Port symbol="gh" value="0.64000701904296875"/>
      <Port symbol="master" value="0"/>
      <Port symbol="filtogl" value="1"/>
      <Port symbol="filtog1" value="1"/>
      <Port symbol="filtog2" value="1"/>
      <Port symbol="filtog3" value="1"/>
      <Port symbol="filtog4" value="1"/>
      <Port symbol="filtogh" value="1"/>
      <Port symbol="enable" value="1"/>
    </lv2>
    <Controllable name="Frequency L" id="1042" flags="" value="160" parameter="0" symbol="freql"/>
    <Controllable name="Gain L" id="1044" flags="" value="0" parameter="1" symbol="gl"/>
    <Controllable name="Frequency 1" id="1046" flags="" value="300" parameter="2" symbol="freq1"/>
    <Controllable name="Gain 1" id="1048" flags="" value="0" parameter="3" symbol="g1"/>
    <Controllable name="Bandwidth 1" id="1050" flags="" value="1" parameter="4" symbol="bw1"/>
    <Controllable name="Frequency 2" id="1052" flags="" value="1000" parameter="5" symbol="freq2"/>
    <Controllable name="Gain 2" id="1054" flags="" value="0" parameter="6" symbol="g2"/>
    <Controllable name="Bandwidth 2" id="1056" flags="" value="1" parameter="7" symbol="bw2"/>
    <Controllable name="Frequency 3" id="1058" flags="" value="2500" parameter="8" symbol="freq3"/>
    <Controllable name="Gain 3" id="1060" flags="" value="0" parameter="9" symbol="g3"/>
    <Controllable name="Bandwidth 3" id="1062" flags="" value="1" parameter="10" symbol="bw3"/>
    <Controllable name="Frequency 4" id="1064" flags="" value="5950.4697265625" parameter="11" symbol="freq4"/>
    <Controllable name="Gain 4" id="1066" flags="" value="7.6300002547213808e-06" parameter="12" symbol="g4"/>
    <Controllable name="Bandwidth 4" id="1068" flags="" value="1" parameter="13" symbol="bw4"/>
    <Controllable name="Frequency H" id="1070" flags="" value="9226.6279296875" parameter="14" symbol="freqh"/>
    <Controllable name="Gain H" id="1072" flags="" value="0.64000701904296875" parameter="15" symbol="gh"/>
    <Controllable name="Master Gain" id="1074" flags="" value="0" parameter="16" symbol="master"/>
    <Controllable name="Filter L" id="1076" flags="Toggle" value="1" parameter="17" symbol="filtogl"/>
    <Controllable name="Filter 1" id="1078" flags="Toggle" value="1" parameter="18" symbol="filtog1"/>
    <Controllable name="Filter 2" id="1080" flags="Toggle" value="1" parameter="19" symbol="filtog2"/>
    <Controllable name="Filter 3" id="1082" flags="Toggle" value="1" parameter="20" symbol="filtog3"/>
    <Controllable name="Filter 4" id="1084" flags="Toggle" value="1" parameter="21" symbol="filtog4"/>
    <Controllable name="Filter H" id="1086" flags="Toggle" value="1" parameter="22" symbol="filtogh"/>
    <Controllable name="Enable" id="1088" flags="Toggle" value="1" parameter="23" symbol="enable"/>
  </Processor>
  <Processor id="1092" name="MDA Overdrive" active="1" user-latency="0" use-user-latency="0" type="lv2" unique-id="http://drobilla.net/plugins/mda/Overdrive" count="1" custom="0">
    <Automation>
      <AutomationList automation-id="parameter-0" id="1093" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-1" id="1095" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
      <AutomationList automation-id="parameter-2" id="1097" interpolation-style="Linear" time-domain="AudioTime" state="Off"/>
    </Automation>
    <ConfiguredInput>
      <Channels type="audio" count="1"/>
    </ConfiguredInput>
    <CustomSinks>
      <Channels type="audio" count="2"/>
    </CustomSinks>
    <ConfiguredOutput>
      <Channels type="audio" count="1"/>
    </ConfiguredOutput>
    <PresetOutput/>
    <InputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </InputMap-0>
    <OutputMap-0>
      <Channelmap type="audio" from="0" to="0"/>
    </OutputMap-0>
    <ThruMap/>
    <lv2 last-preset-uri="file:///home/jman/.lv2/MDA_Overdrive_fuzz.lv2/fuzz.ttl" last-preset-label="fuzz" parameter-changed-since-last-preset="0" template-dir="/home/jman/.config/ardour8/route_templates/Fuzz Vocals">
      <Port symbol="drive" value="1"/>
      <Port symbol="muffle" value="0.10309276729822159"/>
      <Port symbol="output" value="0.24742268025875092"/>
    </lv2>
    <Controllable name="Drive" id="1094" flags="" value="1" parameter="0" symbol="drive"/>
    <Controllable name="Muffle" id="1096" flags="" value="0.10309276729822159" parameter="1" symbol="muffle"/>
    <Controllable name="Output" id="1098" flags="" value="0.24742268025875092" parameter="2" symbol="output"/>
  </Processor>
  <Processor id="969" name="Amp" active="1" user-latency="0" use-user-latency="0" type="amp">
    <Automation>
      <AutomationList automation-id="gain" id="970" interpolation-style="Exponential" time-domain="AudioTime" state="Off"/>
    </Automation>
    <Controllable name="gaincontrol" id="971" flags="GainLike" value="1"/>
  </Processor>
  <Processor id="972" name="meter-Audio 1" active="1" user-latency="0" use-user-latency="0" type="meter"/>
  <Processor id="973" name="Fuzz Vocals" active="1" user-latency="0" use-user-latency="0" own-input="1" own-output="0" output="Fuzz Vocals" type="main-outs" role="Main">
    <PannerShell bypassed="0" user-panner="" linked-to-route="1"/>
  </Processor>
  <Slavable/>
  <Controllable name="monitor" id="989" flags="RealTime" value="0" monitoring=""/>
  <Controllable name="rec-safe" id="990" flags="Toggle,RealTime" value="0"/>
  <Controllable name="rec-enable" id="991" flags="Toggle,RealTime" value="0"/>
</Route>
