<?xml version="1.0" encoding="UTF-8"?>
<SessionDefaults>
  <Config>
    <Option name="use-region-fades" value="1"/>
    <Option name="use-transport-fades" value="1"/>
    <Option name="use-monitor-fades" value="1"/>
    <Option name="native-file-data-format" value="FormatFloat"/>
    <Option name="native-file-header-format" value="WAVE"/>
    <Option name="auto-play" value="0"/>
    <Option name="auto-return" value="0"/>
    <Option name="auto-input" value="1"/>
    <Option name="triggerbox-overrides-disk-monitoring" value="1"/>
    <Option name="cue-behavior" value="FollowCues"/>
    <Option name="punch-in" value="0"/>
    <Option name="punch-out" value="0"/>
    <Option name="count-in" value="0"/>
    <Option name="session-monitoring" value=""/>
    <Option name="record-mode" value="RecLayered"/>
    <Option name="draw-opaque-midi_regions" value="0"/>
    <Option name="subframes-per-frame" value="100"/>
    <Option name="timecode-format" value="timecode_30"/>
    <Option name="minitimeline-span" value="120"/>
    <Option name="raid-path" value=""/>
    <Option name="audio-search-path" value=""/>
    <Option name="midi-search-path" value=""/>
    <Option name="track-name-number" value="0"/>
    <Option name="track-name-take" value="1"/>
    <Option name="take-name" value="Take2"/>
    <Option name="jack-time-master" value="1"/>
    <Option name="use-video-sync" value="0"/>
    <Option name="video-pullup" value="0"/>
    <Option name="external-sync" value="0"/>
    <Option name="insert-merge-policy" value="InsertMergeRelax"/>
    <Option name="timecode-offset" value="0"/>
    <Option name="timecode-offset-negative" value="1"/>
    <Option name="slave-timecode-offset" value=" 00:00:00:00"/>
    <Option name="timecode-generator-offset" value=" 00:00:00:00"/>
    <Option name="midi-copy-is-fork" value="1"/>
    <Option name="tracks-follow-session-time" value="0"/>
    <Option name="realtime-export" value="0"/>
    <Option name="use-surround-master" value="0"/>
    <Option name="use-video-file-fps" value="0"/>
    <Option name="videotimeline-pullup" value="1"/>
    <Option name="wave-amplitude-zoom" value="0"/>
    <Option name="wave-zoom-factor" value="2"/>
    <Option name="show-summary" value="1"/>
    <Option name="show-group-tabs" value="1"/>
    <Option name="show-region-fades" value="1"/>
    <Option name="show-busses-on-meterbridge" value="0"/>
    <Option name="show-master-on-meterbridge" value="1"/>
    <Option name="show-midi-on-meterbridge" value="1"/>
    <Option name="show-rec-on-meterbridge" value="1"/>
    <Option name="show-mute-on-meterbridge" value="0"/>
    <Option name="show-solo-on-meterbridge" value="0"/>
    <Option name="show-monitor-on-meterbridge" value="0"/>
    <Option name="show-name-on-meterbridge" value="1"/>
    <Option name="show-fader-on-meterbridge" value="0"/>
    <Option name="meterbridge-label-height" value="0"/>
    <Option name="show-master-bus-comment-on-load" value="0"/>
    <Option name="default-time-domain" value="BeatTime"/>
  </Config>
</SessionDefaults>
